<%-include('./parts/header')%>

  <body>
    <!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">

      <%- include('./parts/inner-header') %>
      <%- include('./parts/search-popup') %>
      <%- include('./parts/bradcaump') %>

        <!-- cart-main-area start -->
        <div class="cart-main-area section-padding--lg bg--white">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 ol-lg-12">
                <form id="cartForm" action="/cart/update" method="get">
                  <div class="table-content wnro__table table-responsive">
                    <table>
                      <thead>
                        <tr class="title-top">
                          <th class="product-thumbnail">Image</th>
                          <th class="product-name">Product</th>
                          <th class="product-price">Price</th>
                          <th class="product-quantity">Quantity</th>
                          <th class="product-subtotal">Total</th>
                          <th class="product-remove">Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (const item of items) { %>
                          <tr class="product-item">
                            <td class="product-thumbnail"><a href="single-product/<%=item.product.id%>"><img src="<%=item.product.coverImageURL%>"
                                  alt="product img"></a>
                            </td>
                            <td class="product-name"><a href="single-product/<%=item.product.id%>">
                                <%= item.product.title %>
                              </a></td>
                            <td class="product-price"><span class="amount">$<%= item.product.price %></span></td>
                            <td class="product-quantity"><input type="number" value="<%= item.quantity %>" onchange="update()" min="0" name="<%=item.product.id%>"></td>
                            <td class="product-subtotal">$<%= item.quantity * item.product.price %>
                            </td>
                            <td class="product-remove"><a href="/cart/remove?id=<%= item.product.id %>">X</a></td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>
                  </div>
                </form>
                <div class="cartbox__btn">
                  <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                    <li><a href="#">Coupon Code</a></li>
                    <li><a href="#">Apply Code</a></li>
                    <li><a href="#" onclick="document.getElementById('cartForm').submit()">Update Cart</a></li>
                    <li><a href="checkout">Check Out</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 offset-lg-6">
                <div class="cartbox__total__area">
                  <div class="cartbox-total d-flex justify-content-between">
                    <ul class="cart__total__list">
                      <li>Cart total</li>
                      <li>Sub Total</li>
                    </ul>
                    <ul class="cart__total__tk">
                      <li id="cart-total">$0.00</li>
                      <li id="sub-total">$0</li>
                    </ul>
                  </div>
                  <div class="cart__total__amount">
                    <span>Grand Total</span>
                    <span id="grand-total">$0.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- cart-main-area end -->
        
        <%- include('./parts/footer') %>

    </div>
    <!-- //Main wrapper -->

    <!-- JS Files -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script>
      $(document).ready(() => {
        const temp = '<%-JSON.stringify(items)%>';
        const items = JSON.parse(temp);
        let totalPrice = 0;
        for (const item of items) {
          totalPrice += item.product.price * item.quantity;
        }
        updateTotalPrice(totalPrice);
      });
      
      function updateTotalPrice(totalPrice) {
        $('#cart-total').html('$' + Number.parseFloat(totalPrice).toFixed(2));
        $('#grand-total').html('$' + Number.parseFloat(totalPrice).toFixed(2));
      }

      function update() {
        let totalPrice = 0;
        $(".product-item").each((index, prod)=> {
          let quantity = $(prod).find("input").val();
          // let temp = Cookies.get("cart");
          // temp = temp.substr(2, temp.length - 1);
          // let items = JSON.parse(temp);
          // let id = $(prod).find(".product-remove").find("a").attr("href").match(/id=(.*)/)[1];
          // console.log("id=", id);
          // items.find(item => item.product.id == id).quantity = quantity;
          // Cookies.set('cart', JSON.stringify(items));
          console.log('cookies:', Cookies.get('cart'));
          let price = $(prod).find(".amount").html();
          price = Number.parseFloat(price.substring(1, price.length));
          quantity = Number.parseInt(quantity);
          let subTotal = price * quantity;
          $(prod).find(".product-subtotal").html(`$${subTotal}`);
          totalPrice += subTotal;
        });
        updateTotalPrice(totalPrice);
      }
    </script>


  </body>

  </html>